
.title{
    display: flex;
    justify-content: center;
    padding: 20px 50px 20px 50px;
}
.main-dialog{
    display:flex;
    justify-content:space-around;
};

.dialog-details{
    width:250px;
    padding: 50px 50px 50px 50px;
}